name: Renovate
on:
  schedule:
    # Every Sunday at midnight.
    - cron: '0 0 * * 0'
  workflow_dispatch:
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Run Renovate
        uses: renovatebot/github-action@v46.0.1
        with:
          configurationFile: .github/renovate-bot-config.js
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: debug